* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(50, 74, 174, 1);
}

.container {
  /*border: 1px solid green;*/
  width: 300px;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  width: 100%;
  height: 80px;
  background: rgba(10, 20, 60, 1);
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  margin: 20px;
}

.in {
  width: 200px;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin: 20px;
  
} 

button {
  margin: 20px;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-size: 30px;
}