* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsla(235, 100%, 84%, 1);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: hsla(235, 62%, 52%, 1);
  color: #fff;
  font-size: 22px;
  width: 70%;
}