body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    width: 100% /*calc(100% - 20px)*/;
}

nav {
  background: #ffffff;
  width: 100% /*calc(100% -20px)*/;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /*margin-bottom: 100px;*/
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > li {
  list-style: none;
  margin-left: 10px;
  font-size: 20px;
}

.login-container {
    width: 400px;
    margin: 50px auto;    /* remove with css */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-form h2 {
    text-align: left;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 1px;
}

.last-in {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#check {
    width: 20px;
    margin: 0 10px;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #368727;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #267717;
}

.additional-links {
    text-align: center;
    margin-top: 15px;
}

.additional-links a {
    display: block;
    color: #0071ce;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.out {
    text-align: center;
}
.out > a, .additional-links > a {
    color: black;
}
.mobo-menu {
    display: none;
}

.mobo-menu > a {
    color: black;
    padding: 0 50px;
}

@media screen and (max-width: 767px) {
 
  
  .login-container {
    margin: 0px auto;    /* remove with css */
    margin-bottom: 40px;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0 0px 0px #fff;
  }
  .menu {
    display: none;
  }
  .mobo-menu {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  nav {
    width: 100%;
  }

}