* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
body {
  background: #E9E9E9;
}
    
nav {
  height: 70px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
    
.fas, .brand {
  font-size: 32px;
}
    
.brand {
  background: #9B9BA1;
  padding: 7px 10px;
  border-radius: 10px;
  color: #ffffff;
}
    
.container {
  width: 100%;
  height: calc(100vh - 90px);
}
    
.bal {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
    
.balance {
  font-size: 70px;
}
    
.balance::before {
  content: '$';
}
    
.address {
  font-size: 18px;
  color: #9B9BA1;
}
    
.options {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
    
.op {
  width: 115px;
  height: 115px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 7px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
    
.op > i {
  padding: 10px;
}
    
.history-card {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
    
.history {
  background: white;
  width: 89%;
  height: 120px;
  border-radius: 10px;
}
    
.hide {
  display: none;
}
    
.sidebar {
  height: 100vh;
  width: 300px;
  background: rgba(185, 186, 195, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px;
}
    
.close {
  font-size: 60px;
  padding: 20px;
}
    
.red {
  color: red;
}
    
.green {
  color: green;
}
    