* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

header {
  /*border: 1px solid red;*/
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header > .menu {
  display: flex;
}

header > .menu > li {
  list-style: none;
  padding-left: 18px;
}

.dash {
  background: #fff;
  height: 130px;
  width: calc(100% - 40px);
  margin: 0 auto;
  border-radius: 10px;
}
.board {
  background: #00b875;
  color: #ffffff;
  border-radius: 10px;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.board > .balance {
  /*border: 1px solid red;*/
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.board > .balance > p:last-child {
  font-weight: 700;
  font-size: 28px;
}

.board > .history {
  /*border: 1px solid blue;*/
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.board > .history > p:last-child {
  border-radius: 16px;
  padding: 10px 15px;
  background: #ffffff;
  color: #00b875;
}

.notif {
  padding: 7px 15px;
  color: #444444;
}

.main {
  background: #ffffff;
  width: calc(100% - 40px);
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.main > li {
  list-style: none;
  padding: 30px;
}

.ads {
  background: #ffffff;
  width: calc(100% - 40px);
  min-height: 50px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  border-radius: 10px;
}

.ads > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.ads > .info {
  width: calc(100% - 60px);
  padding: 4px;
}

.foot-menu {
  background: #ffffff;
  box-shadow: 0 20px 25px 5px rgba(0, 0, 0, 0.04);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.foot-menu > ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.foot-menu > ul > li {
  list-style: none;
}